/* You can add global styles to this file, and also import other style files */
.center{
    text-align: center;
}
.innercenter{
    margin: auto;
}
body{
    background-color: rgb(58, 58, 58);
    color: rgb(206, 203, 203);
}
.topspace{
    margin-top: 10%;
}
.topspaceSM{
    margin-top: 5%;
}
.icon{
    fill: rgb(58, 58, 58);
    background-color: rgb(58, 58, 58);
    color: white;
}
.iconbtn{
    border: none;
    background:  rgb(58, 58, 58);
}
