<div class="center">
    <h1>Tic Tac Toe Time</h1>
    <p>A multiplayer tic tac toe game.</p>
  </div>
  <div class="center">
      <div class="btn-group-vertical innercenter">
        <button type="button" class="btn btn-primary" (click)="goToPage(1)" >Create Room</button>
        <button type="button" class="btn btn-primary" (click)="goToPage(2)" >Join Room</button>
        <button type="button" class="btn btn-primary" (click)="goToPage(3)" >Stats</button>
        <button type="button" class="btn btn-primary" (click)="goToPage(4)" >Rules</button>
      </div>
  </div>
  
