<div class="center">
    <h1>Rules</h1>
    <div>
        <ul>
            <li>To win you must get three pieces in a row</li>
            <li>A round starts when the first player's turn starts</li>
            <li>A round ends when the last player's turn ends</li>
            <li>Only one double block may be used per round</li>
            <li>A double block must be declared before placing down a piece</li>
            <li>A double block can be used if two or more players have the opportunity to win on their next turn</li>
            <li>A double block can not be used to win</li>
            <li>A double block must be used to block</li>
            <li>Each player gets one double block per game</li>
        </ul>
        <div>
            <button type="button" class="btn btn-primary" (click)="goHome()" >Go Back</button> 
        </div>
    </div>
</div>
